body {
    background: url(https://media.giphy.com/media/ftAyb0CG1FNAIZt4SO/giphy.gif) no-repeat;
    background-position: left;
    background-position: right;
    margin-top: 0em;
}

header {
    height: 23em;
}

.Contact {
    float: right;
    position: relative;
    z-index: 1;
    width: 5%;
    margin-right: 5%;
    margin-left: -5%;
    margin-top: 2.5%;
    border-radius: 1em;
}

@media all and (max-width : 400px) {
    .Contact {
        float: right;
        position: relative;
        z-index: 1;
        width: 20%;
        margin-left: -30%;
        border-radius: 1em;
    }
}
#bandeau {
    position: relative;
    z-index: 0;
    height: 150px;
    width: 100%;
    padding: 20px 0;
    background: powderblue;
    text-align: center;
}

@media all and (max-width : 400px) {
    .Moi {
        width: 70%;
        margin-top: 15%;
    }
}
.Art1 {
    
}
.titre {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5;
    color: #353535;
    font-size: 2em;

}

.presentation {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5;
    color: #353535;

}

@media all and (max-width : 400px) {
    header {
        height: 22em;
}
}

@media all and (max-width : 400px) {
    .titre {
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-family: 'Courier Prime', monospace;
        line-height: 1.5;
        color: #353535;
        font-size: 1.2em;
    }
    .presentation {
        text-align: justify;
        margin-left: 7%;
        margin-right: 7%;
        font-family: 'Courier Prime', monospace;
        line-height: 1.5;
        color: #353535;
        font-size: 0.8em;    
    }
}
.row{
    text-align: center;
}

.parcours {
    margin-top: 5%;
    margin-left: 3%;
    width: 15%;
}

.projets {
    margin-top: 5%;
    margin-left: 10%;
    width: 15%;
}

.temoins {
    margin-top: 5%;
    margin-left: 10%;
    width: 15%;
}

@media all and (max-width : 400px) {
    .parcours {
        margin-top: 5%;
        margin-left: auto;
        width: 60%;
    }
    .projets {
        margin-top: 5%;
        margin-left: auto;
        width: 60%;
    }
    .temoins {
        margin-top: 5%;
        margin-left: auto;
        width: 60%;
    }
}